@import '../../styles/scaffolding/utilities-manifest';

.header {
    @extend %horizontal-center;
    justify-content: space-between;
    width: 100%;
    max-width: $site-max-width;
    padding: 1rem $padding-mobile;
    font-size: 1.5rem;
    transition: margin $transition,
                opacity $transition;
    
    @media screen and (min-width: $breakpoint) {
        padding: 1rem $padding-primary;
    }

    &--edit-mode {
        margin-top: -50px;
    }

    a {
        margin-right: 1rem;
    }

    h1 {
        flex: 1;
        font-size: 1.5rem;
    }
}