@import '../../styles/scaffolding/utilities-manifest';

.header {
    @extend %horizontal-center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem $padding-mobile;
    font-size: 1.5rem;
    transition: margin $transition,
                opacity $transition;

    &--edit-mode {
        margin-top: -50px;
    }

    a {
        margin-right: 1rem;
    }

    h1 {
        flex: 1;
        font-size: 1.5rem;
    }
}