@import '../../styles/scaffolding/utilities-manifest';

.power-button {
    @extend %horizontal-center;

    width: 3rem;
    height: 1rem;
    overflow: visible;
    border: 1px $tertiary-blue solid;
    border-radius: .6rem;
    background-color: $background-blue;

    button {
        position: absolute;
        width: 2rem;
        height: 2rem;
        background-color: $background-blue;
        box-shadow: 0px 0px 10px 0px transparentize($background-blue, .5);
        transition: transform $transition,
                    background-color $transition,
                    box-shadow $transition;
    }
}

.true {
    button {
        background-color: $blue-ace;
        transform: translateX(.85rem);
        box-shadow: 0px 0px 10px 0px transparentize($background-blue, .5);
        transition: transform $transition,
                    background-color $transition,
                    box-shadow $transition;
    }
}