.icon-button {
	width: 2.25rem;
	height: 2.25rem;
	background-repeat: no-repeat;
	background-size: 80%;
    background-position: center;
    padding: 0;
    border: none;
    margin: 0;
    border-radius: 50%;   
}