@import 'scaffolding/resets';
@import 'scaffolding/colors';
@import 'scaffolding/type';
@import 'scaffolding/utilities';
@import 'scaffolding/variables';


.hidden {
	display: none;
}

body,
#__next {
	@extend %vertical-center;
	@extend %helvetica;
	width: 100%;
	background-color: $background-blue;
	color: $primary-white;
	background-image: linear-gradient($secondary-blue, $background-blue);
	overflow-y: hidden;
	font-size: 16px;
}

