@import './scaffolding/variables';
@import './scaffolding/utilities';
@import './scaffolding/type';

.main {
	@extend %vertical-center;
	@extend %helvetica;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	font-size: 16px;

	@media screen and (min-width: $breakpoint) {
		max-width: $site-max-width;
	}
}
